@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #004080 0%, #000000 0%, #000A12 0%, #000000 100%);
  letter-spacing: -1px;
}
.cont{
    padding: 10px 40px;
}

.after-image-section {
  background-color: #000;
}